config ICM20948
	bool "Custom ICM20948 sensor driver"
	default y
	depends on DT_HAS_INVENSENSE_ICM20948_ENABLED
	select SPI
	help
	  Enable ICM20948 SPI sensor

config ICM20948_DEBUG_SERVICE
	bool "Debug gatt service for ICM20948 raw data"
	default n