/*
 * Copyright (c) 2019 Intel Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 * 
 * Rupert PCB devicetree, based on ESP32 devicetree definition in zephyr
 */
/dts-v1/;

#include <espressif/esp32.dtsi>
#include "rupert_pcb-pinctrl.dtsi"

/ {
	model = "Rupert PCB";
	compatible = "vendor,rupert-pcb";

	aliases {
		uart-0 = &uart0;
		led0 = &led0;
		sw0 = &button0;
		watchdog0 = &wdt0;
		// Rupert-specific aliases
		a1 = &pwm_a1;
		a2 = &pwm_a2;
		b1 = &pwm_b1;
		b2 = &pwm_b2;
		pwm1 = &pwm1;
		pwm2 = &pwm2;
		hc12 = &uart2;
		hc12-set = &hc12_set;
		nfault = &nfault;
		nsleep = &nsleep;
		motion-sensor = &motion_sensor;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,flash = &flash0;
	};

	output_pins {
		compatible = "gpio-leds";
		led0: led0 {
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			label = "Led0";
		};
		hc12_set: hc12_set {
			gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
			label = "HC12 set";
		};
	};

	input_pins {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "BOOT Button";
		};
		nfault: nfault {
			gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
			label = "nFAULT";
        };
		nsleep: nsleep {
			gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
			label = "nSLEEP";
        };
	};

	pwm_pins {
		compatible = "pwm-leds";
		pwm1: pwm1_gpio19 {
			pwms = <&ledc0 0 0 PWM_POLARITY_NORMAL>;
			label = "PWM1";
		};
		pwm2: pwm2_gpio21 {
			pwms = <&ledc0 1 0 PWM_POLARITY_NORMAL>;
			label = "PWM2";
		};
		pwm_a1: pwm_a1_gpio22 {
			pwms = <&ledc0 10 0 PWM_POLARITY_NORMAL>;
			label = "A1";
		};
		pwm_a2: pwm_a2_gpio23 {
			pwms = <&ledc0 11 0 PWM_POLARITY_NORMAL>;
			label = "A2";
		};
		pwm_b1: pwm_b1_gpio32 {
			pwms = <&ledc0 12 0 PWM_POLARITY_NORMAL>;
			label = "B1";
		};
		pwm_b2: pwm_b2_gpio33 {
			pwms = <&ledc0 13 0 PWM_POLARITY_NORMAL>;
			label = "B2";
		};
	};

	power-states {
		light_sleep: light_sleep {
			compatible = "zephyr,power-state";
			power-state-name = "standby";
			min-residency-us = <200>;
			exit-latency-us = <60>;
		};

		deep_sleep: deep_sleep {
			compatible = "zephyr,power-state";
			power-state-name = "soft-off";
			min-residency-us = <2000>;
			exit-latency-us = <212>;
		};
	};

};

&ledc0 {
	pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
	channel1@1 {
		reg = <0x1>;
		timer = <0>;
	};
	channel10@a {
		reg = <0xa>;
		timer = <0>;
	};
	channel11@b {
		reg = <0xb>;
		timer = <0>;
	};
	channel12@c {
		reg = <0xc>;
		timer = <0>;
	};
	channel13@d {
		reg = <0xd>;
		timer = <0>;
	};
};

&cpu0 {
	clock-frequency = <ESP32_CLK_CPU_240M>;
	cpu-power-states = <&light_sleep &deep_sleep>;
};

&cpu1 {
	clock-frequency = <ESP32_CLK_CPU_240M>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&uart1 {
	status = "disabled";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&uart2 {
	status = "disabled";
	current-speed = <9600>;
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&i2c0 {
	status = "disabled";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	sda-gpios = <&gpio0 21 GPIO_OPEN_DRAIN>;
	scl-gpios = <&gpio0 22 GPIO_OPEN_DRAIN>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
};

&spi2 {
	status = "disabled";
	compatible = "espressif,esp32-spi";
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
	motion_sensor: icm20948@0 {
		compatible = "invensense,icm20948";
		spi-max-frequency = <1000000>;
		reg = <0>;
	};
};

&spi3 {
	status = "disabled";
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&spim3_default>;
	pinctrl-names = "default";
};

&timer0 {
	status = "disabled";
};

&timer1 {
	status = "disabled";
};

&timer2 {
	status = "disabled";
};

&timer3 {
	status = "disabled";
};

&trng0 {
	status = "okay";
};

&flash0 {
	status = "okay";
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserve 60kB for the bootloader */
		boot_partition: partition@1000 {
			label = "mcuboot";
			reg = <0x00001000 0x0000F000>;
			read-only;
		};

		/* Reserve 1024kB for the application in slot 0 */
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00100000>;
		};

		/* Reserve 1024kB for the application in slot 1 */
		slot1_partition: partition@110000 {
			label = "image-1";
			reg = <0x00110000 0x00100000>;
		};

		/* Reserve 256kB for the scratch partition */
		scratch_partition: partition@210000 {
			   label = "image-scratch";
			   reg = <0x00210000 0x00040000>;
		};

		storage_partition: partition@250000 {
			label = "storage";
			reg = <0x00250000 0x00006000>;
		};
	};
};
