/ {
	chosen {
        zephyr,console = &cdc_acm_uart0;
	};

    aliases {
        green-led = &green_led;
        red-led = &red_led;
        hc12 = &usart2;
        hc12-set = &hc12_set;
        usb = &cdc_acm_uart0;
     };
    
    pins {
        compatible = "gpio-leds";
        hc12_set: hc12_set {
            label = "HC12 AT set pin";
            gpios = <&gpioa 5 GPIO_ACTIVE_LOW>;
        };
        green_led: green_led {
            label = "Green status led";
            gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
        };
        red_led: red_led {
            label = "Red status led";
            gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
        };
    };
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

&usart2 {
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
    status = "okay";
    current-speed = <115200>;
};
