/ {
    aliases {
        greenled = &green_led;
        redled = &red_led;
        hc12 = &lpuart2;
        hc12set = &hc12_set;
        usb = &cdc_acm_uart0;

     };
    
    pins {
        compatible = "gpio-leds";
        hc12_set: set-1 {
            gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
            label = "HC12 AT set pin";
        };
        green_led: led-1 {
            gpios = <&gpio1 16 GPIO_ACTIVE_HIGH>;
            label = "Green status led";
        };
        red_led: led-2 {
            gpios = <&gpio1 24 GPIO_ACTIVE_HIGH>;
            label = "Red status led";
        };
    };
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

&lpuart2 {
	status = "okay";
	current-speed = < 9600 >;
};
