#include <zephyr/dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/esp32-pinctrl.h>

/ {
	aliases {
		led0 = &led0;
		a1 = &pwm_a1;
		a2 = &pwm_a2;
		b1 = &pwm_b1;
		b2 = &pwm_b2;
		weapon = &pwm2;
		hc12 = &uart2;
		hc12-set = &hc12_set;
		nfault = &nfault;
		nsleep = &nsleep;
	};

	pwm_pins {
		compatible = "pwm-leds";
		pwm1: pwm1_gpio19 {
			label = "PWM1";
			pwms = <&ledc0 0 0 PWM_POLARITY_NORMAL>;
		};
		pwm2: pwm2_gpio_gpio21 {
			label = "PWM2";
			pwms = <&ledc0 1 0 PWM_POLARITY_NORMAL>;
		};
		pwm_a1: pwm_a1_gpio22 {
			label = "A1";
			pwms = <&ledc0 2 0 PWM_POLARITY_NORMAL>;
		};
		pwm_a2: pwm_a2_gpio23 {
			label = "A2";
			pwms = <&ledc0 3 0 PWM_POLARITY_NORMAL>;
		};
		pwm_b1: pwm_b1_gpio32 {
			label = "B1";
			pwms = <&ledc0 4 0 PWM_POLARITY_NORMAL>;
		};
		pwm_b2: pwm_b2_gpio33 {
			label = "B2";
			pwms = <&ledc0 5 0 PWM_POLARITY_NORMAL>;
		};
	};

	output_pins {
		compatible = "gpio-leds";
		led0: led0 {
			label = "Led";
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		};
		hc12_set: hc12_set {
			label = "HC12 set";
			gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
		};
	};

	input_pins {
		compatible = "gpio-keys";
		nfault: nfault {
			label = "nFAULT";
        	gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
        };
		nsleep: nsleep {
			label = "nSLEEP";
        	gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
        };
	};
};

&pinctrl {
	ledc0_custom: ledc0_custom {
		group1 {
			pinmux = <LEDC_CH0_GPIO19>, <LEDC_CH1_GPIO21>, // PWM pins
					 <LEDC_CH2_GPIO22>, <LEDC_CH3_GPIO23>, // Motor A
					 <LEDC_CH4_GPIO32>, <LEDC_CH5_GPIO33>; // Motor B
			output-enable;
		};
	};
};

&ledc0 {
	pinctrl-0 = <&ledc0_custom>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
	channel1@1 {
		reg = <0x1>;
		timer = <0>;
	};
	channel2@2 {
		reg = <0x2>;
		timer = <0>;
	};
	channel3@3 {
		reg = <0x3>;
		timer = <0>;
	};
	channel4@4 {
		reg = <0x4>;
		timer = <0>;
	};
	channel5@5 {
		reg = <0x5>;
		timer = <0>;
	};
};

&uart1 {
	status = "disabled";
};

&uart2 {
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&spi2 {
	status = "disabled";
};

&spi3 {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
};
